export SRC_HARNESS_API_KEY=sat.****
export SRC_WORKSPACE_ID=ID of project from which to copy segments
export SRC_ENVIRONMENT_ID=ID of environment from which copy segments
export DEST_HARNESS_API_KEY=sat.**** 
export DEST_WORKSPACE_ID=ID of project to which you want to copy segments
export DEST_ENVIRONMENT_ID=ID of environment to which you want to copy segments
export DEST_TRAFFIC_TYPE=user
